<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020670184637-ri3779kaml4gvtced9no7cif09320qgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020670184637-ri3779kaml4gvtced9no7cif09320qgb</string>
	<key>API_KEY</key>
	<string>AIzaSyAtWiDMeSya_LTs_JgTa8b8ZcN1WgfIVtM</string>
	<key>GCM_SENDER_ID</key>
	<string>1020670184637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clown.rollcall</string>
	<key>PROJECT_ID</key>
	<string>rollcall2021-99924</string>
	<key>STORAGE_BUCKET</key>
	<string>rollcall2021-99924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020670184637:ios:e9519705dfa6c7d7d4fbd4</string>
</dict>
</plist>